@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

}

html {
  background-color: #171717;
  color: #f1f2f3;
}

body {
  @include responsive();
  height: 100vh;
}

button {
  all: unset;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

.gap {
  gap: 10px;
}

.space-between {
  justify-content: space-between;
}

.card-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  background-color: #202124;
  border-top: 1px solid #3C4043;
  border-bottom: 1px solid #3C4043;

  @include breakpoint(md) {
    width: 80%;
  }
}

.card-container > div {
  flex: 50%;
  flex-grow: 0;
}

